-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: mindcare
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=314 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (2,'admin','logentry'),(4,'auth','group'),(3,'auth','permission'),(5,'auth','user'),(6,'contenttypes','contenttype'),(14,'myapp','book'),(15,'myapp','breathingexercise'),(9,'myapp','chat'),(8,'myapp','conversation'),(11,'myapp','diagnosis'),(16,'myapp','movie'),(17,'myapp','music'),(12,'myapp','option'),(18,'myapp','podcast'),(1,'myapp','profile'),(10,'myapp','question'),(13,'myapp','userresponse'),(19,'myapp','workout'),(20,'myapp','yoga'),(7,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_book`
--

DROP TABLE IF EXISTS `myapp_book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_book` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `book_name` varchar(100) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_book`
--

LOCK TABLES `myapp_book` WRITE;
/*!40000 ALTER TABLE `myapp_book` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_breathingexercise`
--

DROP TABLE IF EXISTS `myapp_breathingexercise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_breathingexercise` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `exercise_name` varchar(50) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_breathingexercise`
--

LOCK TABLES `myapp_breathingexercise` WRITE;
/*!40000 ALTER TABLE `myapp_breathingexercise` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_breathingexercise` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_chat`
--

DROP TABLE IF EXISTS `myapp_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_chat` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `response` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `myapp_chat_user_id_4a684788_fk_auth_user_id` (`user_id`),
  CONSTRAINT `myapp_chat_user_id_4a684788_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_chat`
--

LOCK TABLES `myapp_chat` WRITE;
/*!40000 ALTER TABLE `myapp_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_movie`
--

DROP TABLE IF EXISTS `myapp_movie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_movie` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `movie_name` varchar(100) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_movie`
--

LOCK TABLES `myapp_movie` WRITE;
/*!40000 ALTER TABLE `myapp_movie` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_movie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_music`
--

DROP TABLE IF EXISTS `myapp_music`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_music` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `music_name` varchar(50) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_music`
--

LOCK TABLES `myapp_music` WRITE;
/*!40000 ALTER TABLE `myapp_music` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_music` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_option`
--

DROP TABLE IF EXISTS `myapp_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_option` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `question_id` bigint NOT NULL,
  `anxiety_percentage` int DEFAULT NULL,
  `depression_percentage` int NOT NULL,
  `dissociative_disorders_percentage` int DEFAULT NULL,
  `eating_percentage` int DEFAULT NULL,
  `mood_disorder_percentage` int NOT NULL,
  `neurocognitive_percentage` int DEFAULT '0',
  `neurodevelopmental_percentage` int DEFAULT '0',
  `obsessive_compulsive_percentage` int DEFAULT '0',
  `option_text` longtext NOT NULL DEFAULT (_utf8mb3'Default option text'),
  `personality_precentage` int DEFAULT '0',
  `psychotic_percentage` int DEFAULT '0',
  `self_harm_percentage` int DEFAULT '0',
  `sleep_disorder_percentage` int DEFAULT '0',
  `somatic_disorder_percentage` int NOT NULL,
  `stress_precentage` int DEFAULT '0',
  `substance_use_percentage` int DEFAULT '0',
  `trauma_percentage` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `myapp_option_question_id_5b970e4f_fk_myapp_question_id` (`question_id`),
  CONSTRAINT `myapp_option_question_id_5b970e4f_fk_myapp_question_id` FOREIGN KEY (`question_id`) REFERENCES `myapp_question` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=306 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_option`
--

LOCK TABLES `myapp_option` WRITE;
/*!40000 ALTER TABLE `myapp_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_podcast`
--

DROP TABLE IF EXISTS `myapp_podcast`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_podcast` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `podcast_name` varchar(100) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_podcast`
--

LOCK TABLES `myapp_podcast` WRITE;
/*!40000 ALTER TABLE `myapp_podcast` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_podcast` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_profile`
--

DROP TABLE IF EXISTS `myapp_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_profile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `avatar` varchar(100) DEFAULT NULL,
  `mobile_number` varchar(15) DEFAULT NULL,
  `gender` varchar(1) DEFAULT NULL,
  `nationality` varchar(50) DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `myapp_profile_user_id_9fe34268_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_profile`
--

LOCK TABLES `myapp_profile` WRITE;
/*!40000 ALTER TABLE `myapp_profile` DISABLE KEYS */;
INSERT INTO `myapp_profile` VALUES (1,'','8328523706','M','Indian',1),(2,'','6301784025','O','Indian',2),(3,'','09063222603','M','Mongolian',3),(4,'',NULL,NULL,NULL,4),(5,'','9014343328','F','Indian',5);
/*!40000 ALTER TABLE `myapp_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_question`
--

DROP TABLE IF EXISTS `myapp_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_question` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `question_text` longtext NOT NULL,
  `question_type` varchar(255) DEFAULT 'stage_1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=207 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_question`
--

LOCK TABLES `myapp_question` WRITE;
/*!40000 ALTER TABLE `myapp_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_userresponse`
--

DROP TABLE IF EXISTS `myapp_userresponse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_userresponse` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `question_id` bigint NOT NULL,
  `selected_option_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `myapp_userresponse_question_id_f1a27497_fk_myapp_question_id` (`question_id`),
  KEY `myapp_userresponse_selected_option_id_eaffce05_fk_myapp_opt` (`selected_option_id`),
  KEY `myapp_userresponse_user_id_80d3bd1d_fk_auth_user_id` (`user_id`),
  CONSTRAINT `myapp_userresponse_question_id_f1a27497_fk_myapp_question_id` FOREIGN KEY (`question_id`) REFERENCES `myapp_question` (`id`),
  CONSTRAINT `myapp_userresponse_selected_option_id_eaffce05_fk_myapp_opt` FOREIGN KEY (`selected_option_id`) REFERENCES `myapp_option` (`id`),
  CONSTRAINT `myapp_userresponse_user_id_80d3bd1d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_userresponse`
--

LOCK TABLES `myapp_userresponse` WRITE;
/*!40000 ALTER TABLE `myapp_userresponse` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_userresponse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_workout`
--

DROP TABLE IF EXISTS `myapp_workout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_workout` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `workout_name` varchar(50) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_workout`
--

LOCK TABLES `myapp_workout` WRITE;
/*!40000 ALTER TABLE `myapp_workout` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_workout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_yoga`
--

DROP TABLE IF EXISTS `myapp_yoga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_yoga` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `yoga_name` varchar(50) NOT NULL,
  `depression_percentage` decimal(5,2) DEFAULT NULL,
  `anxiety_percentage` decimal(5,2) DEFAULT NULL,
  `mood_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `somatic_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `trauma_percentage` decimal(5,2) DEFAULT NULL,
  `stress_percentage` decimal(5,2) DEFAULT NULL,
  `obsessive_compulsive_percentage` decimal(5,2) DEFAULT NULL,
  `psychotic_percentage` decimal(5,2) DEFAULT NULL,
  `dissociative_percentage` decimal(5,2) DEFAULT NULL,
  `neurocognitive_percentage` decimal(5,2) DEFAULT NULL,
  `neurodevelopmental_percentage` decimal(5,2) DEFAULT NULL,
  `substance_use_percentage` decimal(5,2) DEFAULT NULL,
  `personality_percentage` decimal(5,2) DEFAULT NULL,
  `sleep_disorder_percentage` decimal(5,2) DEFAULT NULL,
  `self_harm_percentage` decimal(5,2) DEFAULT NULL,
  `eating_percentage` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_yoga`
--

LOCK TABLES `myapp_yoga` WRITE;
/*!40000 ALTER TABLE `myapp_yoga` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_yoga` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-11-17 12:51:09
